RewriteEngine On
RewriteRule ^sitemap-oferty\.xml$ sitemap-oferty.php [L]

<IfModule mod_headers.c>
  SetEnvIfNoCase Host "^(?!((www\.)?mazurestate\.pl)$).+" MAZUR_STAGE=1
  Header always set X-Robots-Tag "noindex, nofollow" env=MAZUR_STAGE
</IfModule>
